schema/schematron/tei-bib.isosch.xml

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <title>ISO Schematron rules</title>
  <!-- This file generated 2024-11-25T20:05:24Z by 'extract-isosch.xsl'. -->

  <!-- ********************* -->
  <!-- namespaces, declared: -->
  <!-- ********************* -->
  <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0" />
  <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema" />
  <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0" />
  <ns prefix="rna" uri="http://relaxng.org/ns/compatibility/annotations/1.0" />
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron" />
  <ns prefix="sch1x" uri="http://www.ascc.net/xml/schematron" />

  <!-- ********************* -->
  <!-- namespaces, implicit: -->
  <!-- ********************* -->


  <!-- ************ -->
  <!-- constraints: -->
  <!-- ************ -->
  <pattern id="schematron-constraint-tei-bib-att.cmc-generatedBy-CMC_generatedBy_within_post-1">
    <rule context="tei:*[@generatedBy]">
      <assert test="ancestor-or-self::tei:post">The @generatedBy attribute is for use within a
        &lt;post&gt; element.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.datable.w3c-att-datable-w3c-when-2">
    <rule context="tei:*[@when]">
      <report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be
        used with any other att.datable.w3c attributes.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.datable.w3c-att-datable-w3c-from-3">
    <rule context="tei:*[@from]">
      <report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used
        together.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.datable.w3c-att-datable-w3c-to-4">
    <rule context="tei:*[@to]">
      <report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used
        together.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.global.source-source-only_1_ODD_source-5">
    <rule context="tei:*[@source]">
      <let name="srcs" value="tokenize( normalize-space(@source),' ')" />
      <report
        test="( self::tei:classRef               | self::tei:dataRef               | self::tei:elementRef               | self::tei:macroRef               | self::tei:moduleRef               | self::tei:schemaSpec )               and               $srcs[2]">
        When used on a schema description element (like <value-of select="name(.)" />), the @source
        attribute should have only 1 value. (This one has <value-of select="count($srcs)" />.) </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.measurement-att-measurement-unitRef-6">
    <rule context="tei:*[@unitRef]">
      <report test="@unit" role="info">The @unit attribute may be unnecessary when @unitRef is
        present.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.typed-subtypeTyped-7">
    <rule context="tei:*[@subtype]">
      <assert test="@type">The <name /> element should not be categorized in detail with @subtype
        unless also categorized in general with @type</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.pointing-targetLang-targetLang-8">
    <rule context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
      <assert test="@target">@targetLang should only be used on <name /> if @target is specified.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-att.spanning-spanTo-spanTo-points-to-following-9">
    <rule context="tei:*[@spanTo]">
      <assert
        test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
        The element indicated by @spanTo (<value-of select="@spanTo" />) must follow the current
        element <name />
      </assert>
    </rule>
  </pattern>
  <pattern
    id="schematron-constraint-tei-bib-att.styleDef-schemeVersion-schemeVersionRequiresScheme-10">
    <rule context="tei:*[@schemeVersion]">
      <assert test="@scheme and not(@scheme = 'free')">
        @schemeVersion can only be used if @scheme is specified.
      </assert>
    </rule>
  </pattern>
  <pattern
    id="schematron-constraint-tei-bib-att.calendarSystem-calendar-calendar_attr_on_empty_element-11">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-p-abstractModel-structure-p-in-ab-or-p-12">
    <rule context="tei:p">
      <report
        test="(ancestor::tei:ab or ancestor::tei:p) and                        not( ancestor::tei:floatingText                           | parent::tei:exemplum                           | parent::tei:item                           | parent::tei:note                           | parent::tei:q                           | parent::tei:quote                           | parent::tei:remarks                           | parent::tei:said                           | parent::tei:sp                           | parent::tei:stage                           | parent::tei:cell                           | parent::tei:figure )">
        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
      </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-p-abstractModel-structure-p-in-l-or-lg-13">
    <rule context="tei:p">
      <report
        test="( ancestor::tei:l  or  ancestor::tei:lg ) and                        not( ancestor::tei:floatingText                           | parent::tei:figure                           | parent::tei:note )">
        Abstract model violation: Lines may not contain higher-level structural elements such as
        div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
      </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-desc-deprecationInfo-only-in-deprecated-14">
    <rule context="tei:desc[ @type eq 'deprecationInfo']">
      <assert test="../@validUntil">Information about a
        deprecation should only be present in a specification element
        that is being deprecated: that is, only an element that has a
        @validUntil attribute should have a child &lt;desc
        type="deprecationInfo"&gt;.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-rt-target-rt-target-not-span-15">
    <rule context="tei:rt/@target">
      <report test="../@from | ../@to">When target= is present, neither from= nor to= should be.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-rt-from-rt-from-16">
    <rule context="tei:rt/@from">
      <assert test="../@to">When from= is present, the to= attribute of <name /> is required.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-rt-to-rt-to-17">
    <rule context="tei:rt/@to">
      <assert test="../@from">When to= is present, the from= attribute of <name /> is required.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-name-calendar-calendar-check-name-18">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-ptr-ptrAtts-19">
    <rule context="tei:ptr">
      <report test="@target and @cRef">Only one of the attributes @target and @cRef may be supplied
        on <name />.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-ref-refAtts-20">
    <rule context="tei:ref">
      <report test="@target and @cRef">Only one of the attributes @target' and @cRef' may be
        supplied on <name />
      </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-list-gloss-list-must-have-labels-21">
    <rule context="tei:list[@type='gloss']">
      <assert test="tei:label">The content of a "gloss" list should include a sequence of one or
        more pairs of a label element followed by an item element</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-author-calendar-calendar-check-author-22">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-editor-calendar-calendar-check-editor-23">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-resp-calendar-calendar-check-resp-24">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-title-calendar-calendar-check-title-25">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-meeting-calendar-calendar-check-meeting-26">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-relatedItem-targetorcontent1-27">
    <rule context="tei:relatedItem">
      <report test="@target and count( child::* ) &gt; 0">If the @target attribute on <name /> is
        used, the relatedItem element must be empty</report>
      <assert test="@target or child::*">A relatedItem element should have either a @target
        attribute or a child element to indicate the related bibliographic item</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-l-abstractModel-structure-l-in-l-28">
    <rule context="tei:l">
      <report test="ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]">Abstract model
        violation: Lines may not contain lines or lg elements.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-lg-atleast1oflggapl-29">
    <rule context="tei:lg">
      <assert test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg
        element must contain at least one child l, lg, or gap element.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-lg-abstractModel-structure-lg-in-l-30">
    <rule context="tei:lg">
      <report test="ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]">Abstract model
        violation: Lines may not contain line groups.</report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-sponsor-calendar-calendar-check-sponsor-31">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-funder-calendar-calendar-check-funder-32">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-principal-calendar-calendar-check-principal-33">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-idno-calendar-calendar-check-idno-34">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-licence-calendar-calendar-check-licence-35">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-quotation-quotationContents-36">
    <rule context="tei:quotation">
      <report test="not( @marks )  and  not( tei:p )"> On <name />, either the @marks attribute
        should be used, or a paragraph of description provided </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-citeStructure-match-citestructure-outer-match-37">
    <rule context="tei:citeStructure[not(parent::tei:citeStructure)]">
      <assert test="starts-with(@match,'/')">An XPath in @match on the outer <name /> must start
        with '/'.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-citeStructure-match-citestructure-inner-match-38">
    <rule context="tei:citeStructure[parent::tei:citeStructure]">
      <assert test="not(starts-with(@match,'/'))">An XPath in @match must not start with '/' except
        on the outer <name />.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-unitDecl-calendar-calendar-check-unitDecl-39">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-unitDef-calendar-calendar-check-unitDef-40">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-conversion-calendar-calendar-check-conversion-41">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-application-calendar-calendar-check-application-42">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-creation-calendar-calendar-check-creation-43">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-change-calendar-calendar-check-change-44">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>


  <pattern id="schematron-constraint-tei-bib-div-abstractModel-structure-div-in-l-or-lg-48">
    <rule context="tei:div">
      <report test="(ancestor::tei:l or ancestor::tei:lg) and not(ancestor::tei:floatingText)">
        Abstract model violation: Lines may not contain higher-level structural elements such as
        div, unless div is a descendant of floatingText.
      </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-div-abstractModel-structure-div-in-ab-or-p-49">
    <rule context="tei:div">
      <report test="(ancestor::tei:p or ancestor::tei:ab) and not(ancestor::tei:floatingText)">
        Abstract model violation: p and ab may not contain higher-level structural elements such as
        div, unless div is a descendant of floatingText.
      </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-orgName-calendar-calendar-check-orgName-50">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-persName-calendar-calendar-check-persName-51">
    <rule context="tei:*[@calendar]">
      <assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
        systems or calendars to which the date represented by the content of this element belongs,
        but this <name /> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-link-linkTargets3-52">
    <rule context="tei:link">
      <assert test="contains(normalize-space(@target),' ')">You must supply at least two values for
        @target or on <name />
      </assert>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-ab-abstractModel-structure-ab-in-l-or-lg-53">
    <rule context="tei:ab">
      <report
        test="(ancestor::tei:l or ancestor::tei:lg) and not( ancestor::tei:floatingText |parent::tei:figure |parent::tei:note )">
        Abstract model violation: Lines may not contain higher-level divisions such as p or ab,
        unless ab is a child of figure or note, or is a descendant of floatingText.
      </report>
    </rule>
  </pattern>
  <pattern id="schematron-constraint-tei-bib-standOff-nested_standOff_should_be_typed-54">
    <rule context="tei:standOff">
      <assert test="@type or not(ancestor::tei:standOff)">This <name /> element must have a @type
        attribute, since it is nested inside a <name />
      </assert>
    </rule>
  </pattern>

  <!-- *********** -->
  <!-- deprecated: -->
  <!-- *********** -->
  <pattern>
    <rule context="tei:name">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the name element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:author">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the author element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:editor">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the editor element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:resp">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the resp element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:title">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the title element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:meeting">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the meeting element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:sponsor">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the sponsor element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:funder">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the funder element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:principal">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the principal element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:idno">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the idno element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:licence">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the licence element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:unitDecl">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the unitDecl element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:unitDef">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the unitDef element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:conversion">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the conversion element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:application">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the application element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:creation">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the creation element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:change">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the change element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:orgName">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the orgName element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
  <pattern>
    <rule context="tei:persName">
      <report test="@calendar" role="nonfatal">WARNING: use of deprecated attribute — @calendar of
        the persName element will be removed from the TEI on 2024-11-11.
      </report>
    </rule>
  </pattern>
</schema>